{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-5 text-center">
        <p>
            <img scr="{{ user.avatar(120) }}" alt="User avatar">
        </p>
    </div>
    <div class="col-md-7">
        <p>
            <strong>Username: </strong> {{ user.username }}
        </p>
        <p>
            <strong>Email: </strong> {{ user.email }}
        </p>
        {% if user.last_seen %}
        <p>
            <strong>Last Seen: </strong> {{ user.last_seen }}
        </p>
        {% endif %}
        {% if user.about_me %}
        <p>
            <strong>About me: </strong> {{ user.about_me }}
        </p>
        {% endif %}
        <p>
            <a href="{{ url_for('edit_profile') }}">Edit profile</a>
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
      <p>
        Hi  {{ current_user.username }}, say something:
      </p> 
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.body.label }} <br>
          {{ form.body(cols=100, rows=4) }} <br>
          {% for error in form.body.errors %}
            <span style="color: red;">
              {{ error }}
            </span>
            {% endfor %}
        </p>
        <p>
          {{ form.submit() }}
        </p>
      </form>
    </div>
  </div>
  
<div class="row">
    <div class="col-md-12">
        {% for post in posts %}
            {% if post %}
                <table>
                    <tr valign="top">
                        <td><img scr="{{ post.author.avatar(36) }}" ></td>
                        <td>{{ post.authour.username }} says:<br>{{ post.body }}</td>
                    </tr>
                </table>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
